<section id="order-section">
  <div>
    <h2>HOW TO ORDER</h2>
    <section class="select-section">
      <div class="bowl">
        <img
          src="/assets/img/2_section_how_to_order/PNG/noodle.png"
          alt="noodle-image"
        />
        <h3>
          Pick your <br />
          noodle
        </h3>
      </div>
      <div class="bowl">
        <img
          src="/assets/img/2_section_how_to_order/PNG/broth.png"
          alt="broth-image"
        />
        <h3>
          Pick your <br />
          broth
        </h3>
      </div>
      <div class="bowl">
        <img
          src="/assets/img/2_section_how_to_order/PNG/egg.png"
          alt="egg-image"
        />
        <h3>
          Add your <br />
          toppings
        </h3>
      </div>
    </section>
  </div>
</section>
